/* ==UserStyle==
@name           Instagram Collapsed Sidebar
@namespace      github.com/openstyles/stylus
@version        2.0.1
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("www.instagram.com") {
    /* Insert code here... */
        @media (min-width: 900px) {
          .xfawcg2.xfawcg2 {
            min-width: 100px;
            transition: 1s ease-in-out
          }
          .xfawcg2.xfawcg2:hover {
            min-width: 430px;
            transition: 1s ease-in-out
          }
        }
}
