/* ==UserStyle==
@name           Instagram Collapsed Sidebar
@namespace      github.com/openstyles/stylus
@version        2.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("www.instagram.com") {
    /* Insert code here... */
    div[aria-label="Thread list"]{
        width: 92px;
        transition: 1s ease-in-out
    }
    div[aria-label="Thread list"]:hover{
        width: 400px;
        transition: 1s ease-in-out
    }
}
