/* ==UserStyle==
@name           Gruvbox Music
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("music.youtube.com") {
    /* Insert code here... */
    :root{
        --orange: #d65d0e;
        --aqua: #8ec07c; 

        --dark: #282828;
        --dark_1: #1d2021;
        --dark_2: #2C2C2C;
        
        --content: var(--dark)
            
        --accent: var(--aqua);
    }
    tp-yt-app-drawer[id="guide"]{
        background: var(--dark_1);
    }
    div[id="guide-content"], div[id="left-content"]{ 
        background: var(--dark_1);
    }
    ytmusic-guide-entry-renderer:has(path[d="M12 1C5.925 1 1 5.925 1 12s4.925 11 11 11 11-4.925 11-11S18.075 1 12 1Zm0 2a9 9 0 110 18.001A9 9 0 0112 3Zm0 2.5a6.5 6.5 0 100 13 6.5 6.5 0 000-13ZM12 7a5 5 0 110 10 5 5 0 010-10Zm3 5-5-3v6l5-3Z"]){
        display: none
    }
    
    div[id="contents"], div[id="header"], ytmusic-nav-bar{ 
        background: var(--dark);
            
    }
    div[class="content style-scope ytmusic-player-page"]{
        background: var(--dark);
    }
    picture[class="style-scope ytmusic-logo"]{
        display: none
    }
    div[id="mini-guide"]{
        background: var(--dark_1);
    }
}
