/* ==UserStyle==
@name           All Sites — Source Code Pro
@namespace      github.com/openstyles/stylus
@description    Set JetBrains Mono as the default font on every website
@version        1.1
@author         ChatGPT
==/UserStyle== */

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
    font-family: "JetBrains Mono" !important;
}

/*For Google Matrial Icons on the Google Apps*/
i {
    font-family:  "Google Material Icons" !important;
}

.google-symbols{
    font-family: "Google Symbols" !important;
}

@-moz-document url-prefix("moz-extension://"),
    url-prefix("chrome-extension://") {
        *,
        *::before,
        *::after {
            font-family: "JetBrains Mono" !important;
        }
}
